{% extends "/standard-page.html.twig" %}

{% block title %}Getting to Bellingham, WA{% endblock %}

{% block content %}
<p>
If this is your first time in the States, then you're most likely going to be wondering how to get to Bellingham from the airport. Although there are several ways of getting there, I am going to provide you with the two easiest routes, assuming you are travelling from abroad. Before you ask me, Bellingham does have its own airport, but the number of direct flights abroad is a lot smaller and therefore I won't mention it.
</p>
<p>
Please be aware that the routes provided below are for informational purposes only and are not guaranteed to be correct in the future. At the end of the day, it is 100% your responsibility to plan your journey correctly and to ensure you have the right documents before travelling.
</p>
<section>
	<h3>From Seattle-Tacoma International Airport (SEA)</h3>
	<p>
	As far as planning your journey is concerned, leaving from <?php echo URLS::absLink('Seattle-Tacoma International Airport (SEA)', 'http://www.seattle-airport.com/', null); ?> is the simpler of the two routes. You are travelling directly to the US which means only one border to cross. If you're a non-US citizen and don't have the right to live in the US, then you may need to apply for a Visa or <?php echo URLS::absLink('Visa Waiver (ESTA)', 'https://esta.cbp.dhs.gov/esta/', null); ?> before flying to the US depending on what country you're from. Without this, you may be denied entry in the US and sent back the way you came, possibly at your own expense. Also, for the <?php echo URLS::absLink('Visa Waiver program, you\'ll need to have a biometric passport', 'https://www.cbp.gov/travel/international-visitors/visa-waiver-program', null); ?>. You can find out <?php echo URLS::absLink('more about biometric passports here', 'http://www.passportandvisaoffice.com/biometric-passport.php', null); ?>.
	</p>
	<p>
	To get from Sea-Tac airport to Bellingham, you will need to take the Amtrak train which takes about two hours. The train comes with free WiFi and a plug socket so there's always a way of contacting your friends and family back at home if necessary. You can even ring them on a normal telephone number if you have a smartphone with Skype.
	</p>
	<h4>Booking your journey</h4>
	<p>
	The routes and destinations are broken down in the table below and can also be seen on an <?php echo URLS::absLink('interactive map at Rome2rio', 'https://www.rome2rio.com/s/Seattle-Airport-SEA/Fairhaven-Village-Inn-Bellingham', null); ?> (select "Train" from the list of transport options). Please allow sufficient time for gaps and potential delays.
	</p>
	<table class="background-white bg-light">
		<tr>
			<th class="bold">Depart from...</th>
			<th class="bold">Arrive at...</th>
			<th>Operator, schedule &amp; links</th>
			<th>Duration</th>
		</tr>
		<tr>
			<td class="bold">SeaTac Airport</td>
			<td class="bold">International District / Chinatown</td>
			<td><?php echo URLS::absLink('Link light rail', 'http://www.soundtransit.org/Schedules/Link-light-rail', null); ?></td>
			<td>~30 minutes</td>
		</tr>
		<tr>
			<td class="bold">International District / Chinatown</td>
			<td class="bold">Seattle - King Street Station, WA (SEA)</td>
			<td>No public transportation available. You must walk this bit!</td>
			<td>2 minutes</td>
		</tr>
		<tr>
			<td class="bold">Seattle - King Street Station, WA (SEA)</td>
			<td class="bold">Bellingham, WA (BEL)</td>
			<td><?php echo URLS::absLink('Amtrak', 'https://www.amtrak.com/train-schedules-timetables', null); ?><br/>Copy and paste the departing and arrival stations exactly as I've written it and ignore "No stations match your entry" - It will work!</td>
			<td>2 hr - 2hr 12 min</td>
		</tr>
		<tr>
			<td class="bold">Fairhaven Transportation Center</td>
			<td class="bold">Your final destination</td>
			<td><?php echo URLS::absLink('Whatcom Transport Authority (WTA)', 'http://schedules.ridewta.com/', null); ?><br/>
			Take the 401 bus to Downtown, where the main bus connections are.
			</td>
			<td>Varies</td>
		</tr>
	</table>
</section>
<br/>
<section>
	<h3>From Vancouver Airport, Canada (YVR)</h3>
	<p>
	Getting from <?php echo URLS::absLink('Vancouver Airport, Canada (YVR)', 'http://www.yvr.ca/en/passengers', null); ?> to Bellingham is a little more complicated and involves crossing two borders (unless you're living in Canada). However, it's often a lot cheaper to travel this way (from the UK anyway) and the time spent getting to Bellingham is not that much more than it is from Seattle so it's worth the hassle.
	</p>
	<p>
	Just like in the US, <?php echo URLS::absLink('visiting Canada also requires a Visa Waiver (ETA) for citizens of certain countries', 'http://www.cic.gc.ca/english/visit/eta.asp', null); ?>. However, the good news is that you don't need the US Visa Waiver as well if you're crossing the border by land. Make sure you have all of the correct documentation before setting off as you don't want to be denied entry.
	</p>
	<p>
As for the WiFi on Amtrak trains, at present, you can only access this on the United States side of the border.
	</p>
	<p>
	The routes and destinations are broken down in the table below and can also be seen on an <?php echo URLS::absLink('interactive map at Rome2rio', 'https://www.rome2rio.com/s/Vancouver-Airport-YVR/Bellingham', null); ?> (select "Train" from the list of transport options). Please allow sufficient time for gaps and potential delays.
	</p>
	<table class="background-white bg-light">
		<tr>
			<th class="bold">Depart from...</th>
			<th class="bold">Arrive at...</th>
			<th>Operator, schedule &amp; links</th>
			<th>Duration</th>
		</tr>
		<tr>
			<td class="bold">Yvr-Airport Station</td>
			<td class="bold">Waterfront Station</td>
			<td><?php echo URLS::absLink('SkyTrain - Canada Line', 'http://www.translink.ca/en/Schedules-and-Maps/SkyTrain/SkyTrain-Schedules.aspx', null); ?></td>
			<td>6-20 minutes</td>
		</tr>
		<tr>
			<td class="bold">Waterfront Station</td>
			<td class="bold">Main Street Skytrain Station</td>
			<td><?php echo URLS::absLink('SkyTrain - Expo/Millennium Line', 'http://www.translink.ca/en/Schedules-and-Maps/SkyTrain/SkyTrain-Schedules.aspx', null); ?></td>
			<td>5-10 minutes</td>
		</tr>
		<tr>
			<td class="bold">Vancouver - Pacific Central Station Canada, BC (VAC)</td>
			<td class="bold">Bellingham, WA (BEL)</td>
			<td><?php echo URLS::absLink('Amtrak', 'https://www.amtrak.com/train-schedules-timetables', null); ?><br/>Copy and paste the departing and arrival stations exactly as I've written it and ignore "No stations match your entry" - It will work!</td>
			<td>2 hours</td>
		</tr>
		<tr>
			<td class="bold">Fairhaven Transportation Center</td>
			<td class="bold">Your final destination</td>
			<td><?php echo URLS::absLink('Whatcom Transport Authority (WTA)', 'http://schedules.ridewta.com/', null); ?><br/>
			Take the 401 bus to Downtown, where the main bus connections are.
			</td>
			<td>Varies</td>
		</tr>
	</table>
</section>
<div class="date-stamp">Posted on Saturday 27th August 2016</div>
{% endblock %}