{% extends "/standard-page.html.twig" %}

{% block title %}What's Bellingham like as a place?{% endblock %}

{% block content %}
<p>
I was in Bellingham for two and a half months nearly and must say that it was a pleasant experience. Before coming to the United States, I was quite nervous about it being ultra competitive and that I would have to be treading really carefully, but I was totally wrong, about this area anyway.
</p>
<img class="autoscale-image" src="{{ asset('build/images/bellingham-trip/restaurants-in-cordata.jpg') }}" alt="" />
<br/><br/>
<h3>The People</h3>
<p>
In Bellingham and Whatcom County, I find it really quiet and peaceful and the people make you feel welcome. There is a genuine sense of community spirit here which is very lacking in my home-town, although some places in UK are very welcoming too. The people seem to have the time to stop and talk to me and I mean not just five minutes, but sometimes half an hour. This applies even when outdoors on Bellingham's footpaths.
</p>
<p>
Another big difference that may surprise you is the lack of antisocial behaviour on the streets. Drunks aren't rowdy at night, kids don't loiter on the streets making lots of racket and I haven't once seen a mother shouting at her kids. Back in the UK, antisocial behaviour is common in some towns (mostly on Friday and Saturday nights) and this may surprise you if you're from the US and have never travelled to the UK.
</p>
<h3>Footpaths</h3>
<p>
Expanding on the <a href="http://www.bellingham.org/activities/hiking/">footpaths, there are  many decent places to go out walking in and around Bellingham, WA</a>. Whilst the streets are definitely designed for the car, which is the standard across the United States, there are many really nice parks around here that you're never that far away from one and best of all, there is a <a href="http://www.ridewta.com/">decent bus network, "Whatcom Transportation Authority" which connects Bellingham</a> to a lot of these sights and other nearby cities. Even better, if you have a bike then each bus is equipped to carry two bikes on the front.
</p>
<span class="clear-wrap" /></span>
<br /><br />
{% endblock %}