{% extends "/standard-page.html.twig" %}

{% block title %}The Russian alphabet and pronunciation guide</h1>{% endblock %}

{% block content %}
<p>
In Russian, we write with the Cyrillic alphabet. It will look strange to you if you're a beginner, but with plenty of practice, you will get the hang of it and eventually read the letters as your own.
</p>


<h3>Letter pronunciations</h3>
<p>
Before we delve into the pronunciation, I need to explain to you a bit about the hard and soft forms of consonants. The reason I mention this now is because I don't want you to make the mistake that I did of pronouncing the consonants soft when they should've been hard and vice versa. It's best to learn to pronounce each consonant correctly from the very start.
</p>

<p>
Nearly every consonant has two pronunciations, a hard form and a soft form. Which form you pick depends on what letters may be following it and it's important that you get this right before it sticks in your mind. If there's only one form though, then that consonant's always pronounced the same way. That means a hard consonant will always be hard, even if it's followed by a soft vowel. Please don't confuse this with voiceless and voiced consonants (like 's' and 'z'). This is a totally separate thing and both 's' and 'z' each have their hard and soft forms.
</p>

<h3>How it's done in English</h3>
<p>
In English, there is nothing unusual about having two pronunciations for each consonant. We do it automatically and we don't realise we're doing it. However, here I'm going to give you an example of how we use it. One example is the words 'tick tock'. If you look into the mirror and listen to yourself say it, you'll notice that the 't' is different for each word. The 't' in 'tick' is soft since your lips are shaped like a crescent with the flat part facing up whilst the 't' in 'tock' is hard with your lips forming a whole circle. In English, when a vowel follows a consonant, it's always the vowel sound which determines whether a consonant is hard or soft.
</p>

<h3>How you do it in Russian</h3>
<p>
Unlike in English where most vowel sounds can only be hard or soft (but not both), all five vowel sounds in Russian each have both a hard and soft form resulting in a total of ten vowels. Additionally, we have the hard and soft signs, which can be thought of as 'silent vowels', even though technically they are neither consonants or vowels.
</p>
<p>
As mentioned in the last paragraph, the shape of your lips determines whether a vowel (as well as the preceding consonant) is hard of soft.
</p>


<h5>Table 1 - Alphabet and consonant pronunciation (click here for explanation)</h5>
<form>
	<table class="background-white bg-light" border="0" cellspacing="1px" cellpadding="0">
		<colgroup>
		</colgroup>
		<tbody>
			<tr><th>Uppercase</th><th>Lowercase</th><th>Hard pronunciation</th><th>Soft pronunciation</th><th>Notes</th></tr>
			<tr><td>А</td><td>а</td><td>between b<span class="bold highlighted">u</span>t and b<span class="bold highlighted">a</span>t</td><td></td><td></td></tr>
			<tr><td>Б</td><td>б</td><td><span class="bold highlighted">b</span>og</td><td><span class="bold highlighted">b</span>ig</td><td></td></tr>
			<tr><td>В</td><td>в</td><td><span class="bold highlighted">v</span>olatile</td><td><span class="bold highlighted">v</span>ictory</td><td></td></tr>
			<tr><td>Г</td><td>г</td><td><span class="bold highlighted">g</span>one</td><td><span class="bold highlighted">g</span>ift</td><td>For adjectives in the singular genitive case which end in '-го', this final 'г' is instead pronounced as an English 'v'. This rule also applies to a few exceptional words, such as сегодня, which literally means 'this day', with the <?php echo URLS::absLink('\'сего\' part being the genetive singular of the old adjective \'чей\'', 'https://en.wiktionary.org/wiki/%D1%81%D0%B5%D0%B9#Russian', null); ?>, which is no longer in everyday use. </td></tr>
			<tr><td>Д</td><td>д</td><td><span class="bold highlighted">d</span>og</td><td><span class="bold highlighted">d</span>ig</td><td></td></tr>
			<tr><td>Е</td><td>е</td><td></td><td>
			b<span class="bold highlighted">ee</span>t<br/>(before stressed syllable),<br/>
			b<span class="bold highlighted">e</span>t<br/>(on stressed syllable),<br/>
			<span class="bold highlighted">ye</span>t<br/>(after stressed syllable)
			</td><td></td></tr>
			<tr><td>Ё</td><td>ё</td><td></td><td>between p<span class="bold highlighted">ure</span> and <span class="bold highlighted">yo</span>ghurt (always stressed)</td><td>1. For native Russian words, this letter is always stressed when it appears in a word. However, for words of foreign origin which are simply transliterated into Russian, ё may be used to indicate a 'yo' sound whether or not this sound is stressed. This often appears in <?php echo URLS::absLink('lesser well-known towns and cities of foreign countries, such as in France', 'https://www.google.co.uk/maps/@48.5884003,-3.0449983,10z?hl=ru', null); ?>.<br/><br/>2. In some texts, 'ё' is simply written as 'е' (without the dots). This can be confusing to the learner but in most cases, this shouldn't cause any issues with already familiar words.</td></tr>
			<tr><td>Ж</td><td>ж</td><td>vi<span class="bold highlighted">s</span>ion</td><td></td><td>Always hard</td></tr>
			<tr><td>З</td><td>з</td><td><span class="bold highlighted">z</span>one</td><td><span class="bold highlighted">z</span>ip</td><td></td></tr>
			<tr><td>И</td><td>и</td><td></td><td>b<span class="bold highlighted">ee</span>t (as in English)</td><td></td></tr>
			<tr><td>Й</td><td>й</td><td></td><td><span class="bold highlighted">y</span>esterday or after a vowel like in bo<span class="bold highlighted">y</span></td><td>The 'й' sound is used in exactly the same way as the English 'y' including in dipthongs.</td></tr>
			<tr><td>К</td><td>к</td><td><span class="bold highlighted">c</span>offee</td><td><span class="bold highlighted">k</span>itten</td><td></td></tr>
			<tr><td>Л</td><td>л</td><td><span class="bold highlighted">l</span>ost</td><td><span class="bold highlighted">l</span>ip</td><td></td></tr>
			<tr><td>М</td><td>м</td><td><span class="bold highlighted">m</span>oss</td><td><span class="bold highlighted">m</span>ist</td><td></td></tr>
			<tr><td>Н</td><td>н</td><td><span class="bold highlighted">n</span>ot</td><td>k<span class="bold highlighted">n</span>it</td><td></td></tr>
			<tr><td>О</td><td>о</td><td>between p<span class="bold highlighted">oor</span> and p<span class="bold highlighted">o</span>d (when stressed),<br/>
			like Russian 'а' (when unstressed)</td><td></td><td></td></tr>
			<tr><td>П</td><td>п</td><td><span class="bold highlighted">p</span>ot</td><td><span class="bold highlighted">p</span>it</td><td></td></tr>
			<tr><td>Р</td><td>р</td><td><span class="bold highlighted">r</span>ot</td><td><span class="bold highlighted">r</span>ich</td><td>Unlike the English r, the Russian r is rolled like the Scottish r or Spanish “single” r.</td></tr>
			<tr><td>С</td><td>с</td><td><span class="bold highlighted">s</span>ock</td><td><span class="bold highlighted">s</span>it</td><td></td></tr>
			<tr><td>Т</td><td>т</td><td><span class="bold highlighted">t</span>ock</td><td><span class="bold highlighted">t</span>ick</td><td></td></tr>
			<tr><td>У</td><td>у</td><td>b<span class="bold highlighted">oo</span>t</td><td></td><td></td></tr>
			<tr><td>Ф</td><td>ф</td><td><span class="bold highlighted">f</span>og</td><td><span class="bold highlighted">f</span>ig</td><td></td></tr>
			<tr><td>Х</td><td>х</td><td><span class="bold highlighted">h</span>ot</td><td><span class="bold highlighted">h</span>uge</td><td>The Russian х is pronounced like the ch in Scottish 'loch', the German 'ch' or Spanish 'j'.</td></tr>
			<tr><td>Ц</td><td>ц</td><td>pi<span class="bold highlighted">zz</span>a</td></td><td><td>Always hard</td></tr>
			<tr><td>Ч</td><td>ч</td><td></td><td><span class="bold highlighted">ch</span>ip</td><td>Always soft</td></tr>
			<tr><td>Ш</td><td>ш</td><td><span class="bold highlighted">sh</span>op</td><td></td><td rowspan="2">ш and щ are the hard and soft forms of the English 'sh' sound respectively and are unaffected by any letters following them</td></tr>
			<tr><td>Щ</td><td>щ</td><td></td><td><span class="bold highlighted">sh</span>ip</td></tr>
			<tr><td>Ъ</td><td>ъ</td><td>Hard sign - No sound of its own. Makes the preceding consonant hard.</td><td></td><td></td></tr>
			<tr><td>Ы</td><td>ы</td><td>b<span class="bold highlighted">ee</span>t (circular lips)</td><td></td><td></td></tr>
			<tr><td>Ь</td><td>ь</td><td>Soft sign - No sound of its own. Makes the preceding consonant soft.</td><td></td><td></td></tr>
			<tr><td>Э</td><td>э</td><td>b<span class="bold highlighted">e</span>t (circular lips)</td><td></td><td></td></tr>
			<tr><td>Ю</td><td>ю</td><td></td><td>c<span class="bold highlighted">u</span>te</td><td></td></tr>
			<tr><td>Я</td><td>я</td><td></td><td><span class="bold highlighted">ya</span>k (the y is pronounced very faintly)</td><td></td></tr>
			<tr><td>ЖЖ</td><td>жж</td><td><td></td><td>Sometimes, a double ж can be used to make a soft version of ж since a single ж is always hard. A double ж isn't soft all of the time though. It really depends upon the location in Russia or even may vary from person to person whether a double ж is pronounced differently. However, if you see a word with this letter doubled up then it means that you can pronounce it either hard or soft.</td></tr>
			<tr><td>ЧШ</td><td>чш</td><td><span class="bold highlighted">ch</span>оp</td><td></td><td>Since the Russian letter ч is always soft, the hard consonant ш must be added to this to make a hard equivalent of this.</td></tr>
		</tbody>
	</table>
</form>

<p>
For any soft vowel, if it does not follow a consonant then you pronounce it with a strong English 'y' sound in front of that vowel.
</p>


<h3>Explanation of Tables 1 and 2</h3>
<p>
As I mentioned earlier, if a consonant is directly before a hard vowel or hard sign, or is the final letter of a word then that consonant is also hard. If it’s before a soft vowel or soft sign then it’s soft.
</p>

<p>
In Table 1, you may be wondering why for some consonants, it says “” in one of the columns. For these consonants, they are always pronounced the same way regardless of what letters follow it. Take the word ‘жизнь’ for example. ‘ж’ is always hard despite it being followed by ‘и’. When this happens, ‘и’ will also be hard and pronounced as ‘ы’. This means that for the consonants ж and ш, a vowel directly after it will always be hard, even when it’s normally not. For ц, ч and щ, a vowel directly after it will always be soft.
</p>

<p>
If ж is always hard then why do the spelling rules not permit combinations such as ‘жы’, and force ‘жы’ to be replaced with ‘жи’ whenever a word declines to a different form?
</p>

<p>
For example, take the word ложа, which is feminine and in the nominative singular. Because the letter ‘а’ (a hard vowel) follows it, the ‘а’ should be replaced with ‘ы’ in the plural resulting in ложы. This goes against the spelling rules and thus ложи is the plural instead.
</p>

<p>
Back to the question. Why? I mean, it doesn’t make sense and seems illogical. The simple answer to the question is languages evolve over time. This includes pronunciations of letters Back in the good old days, the spelling rules probably made sense and had a logical reason behind it. For ш and щ, these might seem like hard and soft pairs today. However, they aren’t true pairs and historically will have sounded different.
</p>

<p>
What’s the point in having a soft sign after always hard consonants and how does it affect the pronunciation?
If a letter is always hard then what’s the point in having a soft sign after it? This is very true for verbs in the second person singular for present tense imperfective verbs and future tense perfective verbs which you should be very familiar with such as живёшь, хочешь, ешь and пишешь.
</p>

<p>
Again, this is historical. Today, the soft sign after the letters ш and ж doesn’t change that consonant’s pronunciation. живёшь, for example, is pronounced in exactly the same way as if it were живёш. Having said that, it does make a different when a soft vowel follows it. That means if живёшье and живёше were words, then the ‘е’ at the end of живёшье would always be pronounced with the ‘y’ sound in front like an English ‘ye’ since the ‘е’ isn’t directly after the ‘ш’. But for живёше, the ‘е’ is directly after ‘ш’ and therefore is hard and like the Russian ‘э’.
</p>
{% endblock %}