{% extends "/standard-page.html.twig" %}

{% block title %}About Richard{% endblock %}

{% block content %}
<img class="right-floating-image" src="{{ asset('build/images/about-image.jpg') }}" alt="">
<p>
Richard is originally from the Isle of Wight but currently lives in Portsmouth. He originally studied Mathematics for his Bachelor's degree at the University of Southampton and then ended up doing his Master's in Computing at Oxford Brookes in order to pursue a career as a software developer. He has worked in a number of contract roles and personal projects since then and is always striving to improve himself.
</p>
<p>
When Richard is not sat at his desk, he enjoys spending time outside and being physically active which includes walking, cycling and kayaking. He recently started rollerblading (inline skating) early 2021 and does this with the <a href="https://www.facebook.com/groups/259039895319620/" target="_new">Portsmouth Skating Group</a> as well as on his own.
</p>
<p>
He also enjoys learning languages, which includes Russian, a language that is said to be difficult to master.	
</p>
<p>
In the kitchen, his food preferences tend towards healthy eating. When time is short, he'll happily knock up a sweet potato in the microwave and add to it raw garlic, dried chilli and olive oil amongst a range of other ingredients, whatever is available in the cupboard at the time. He also decided to go low-sugar in 2019 and also he hardly ever eats dairy which means enjoying tea and coffee in their natural states.
</p>
{% endblock %}