{% extends "/standard-page.html.twig" %}

{% block title %}About me{% endblock %}

{% block content %}
<?php echo \Images::create('right-floating-image', 'richard-at-fairhaven.jpg', 486, null); ?>
<p>
Richard was born and raised on the Isle of Wight. He struggled during his earlier years in school but went away to boarding school just before turning 10 years old. He ended up doing well on several subjects and excelled in Mathematics.
</p>
<p>
Richard went on to do his A-levels back in his home-town while working part-time in the local supermarket. He was always fairly casual and didn't even imagine what he wanted to do as a long-term career. As a result, when it came to going to university, he wanted to be close to home and did what he was best at at school: a degree in Mathematics at the University of Southampton.
</p>
<p>
Richard completed his degree in 2008, the worst possible time to graduate when the Great Recession had just started. He found it very difficult to find work related to his subject and ended up settling for supermarket work again. It wasn't all doom and gloom though. 
</p>
<p>
In 2011, he decided it was time to pursue a Masters degree. Having been introduced to programming by his father during his teenage years and writing a few simple programs in Visual Basic and Java, a career in IT started to seem like a possibility. He ended up choosing to study Computing at Oxford Brookes University.
</p>
<p>

</p>
<p>
My name is Richard and I am originally from the Isle of Wight in the UK. I have always wanted to have some personal presence on the internet in a place that I can truly call my own.
<!--
I am a programmer and therefore wanted to seek a real challenge and to create my own site from scratch, including the framework. This way, I have full control over the running of the website and the look and feel.
-->
</p>
<p>
From time to time, I enjoy going travelling and getting an idea of what life might be like in different cultures. My last trip abroad was in 2016. I went to the United States of America for the very first time. I didn't go to the big cities like most people do. Instead, I went to one of the smaller cities on the western side and near to the Canadian border. This city was called Bellingham where I stayed for two and a half months. It was an interesting experience and despite speaking the same language, the culture and vibe of the place was quite different compared to back in England. In one respect, it felt rather foreign yet at the same time, it felt similar to back at home. Sadly, I had to leave! <?php echo \URLS::localLink('I have written about some of my experiences of Bellingham here', '/trip-to-bellingham', null); ?>.
</p>
<p>
As a person, I would describe myself as fairly quiet and somewhat reserved. I really like spending time outdoors in nature. If you see someone sitting with a flask of coffee on a wooden bench or perhaps just somewhere on the ground then there's a chance that it could be me. There is something really enjoyable and freeing about having a hot drink out in the middle of nowhere. Sometimes, I even take a picnic with me.
</p>
{% endblock %}