{% extends "/main-page.html.twig" %}

{% block title %}Software Developer for Portsmouth and beyond{% endblock %}

{% block content %}
<p>Welcome to my website and thank you for visiting.</p>
<p>Originally from the Isle of Wight but currently living in Portsmouth, I have worked as a software developer on a number of freelance and personal projects since completing my Master's degree in 2012. My projects mainly revolve around web-development, Java applications, Android development, and data-processing, all of which are mentioned in further detail on my <a target="_new" href="https://www.linkedin.com/in/richard-valvona/">LinkedIn profile</a>.
</p>
<p>
If you need a programmer, a web-developer or a data-engineer, then you've come to the right place. Feel free to contact me at <a href="mailto:richard@richardvalvona.uk">richard@richardvalvona.uk</a>.
</p>
{% endblock %}