{% extends "/main-page.html.twig" %}

{% block title %}Software Developer for Portsmouth and beyond{% endblock %}

{% block content %}
<p>Welcome to my website and thank you for visiting.</p>
<p>Originally from the Isle of Wight but currently living in Portsmouth, I have worked as a software developer on a number of freelance and personal projects since completing my Master's degree in 2012. My projects mainly revolve around web-development, Java applications, Android development, and data-processing, all of which you can see on my <a target="_new" href="https://www.linkedin.com/in/richard-valvona/">LinkedIn profile</a>.
</p>
<p>
If you are in need of a programmer, then feel free to get in touch with me in order to discuss your requirements.
</p>
<p>
When away from the computer, I enjoy spending a lot of time outside and keeping physically active. Activities include walking, cycling, kayaking on the water, swimming, having picnics, and rollerblading with the Portsmouth Skating Group.
</p>
{% endblock %}