<div id="adjectiveTableTemplate" class="hidden">
	<table class="main-table word-conjugations-table color-scheme2 bg-light hoz-borders-only" border="0" cellspacing="1px" cellpadding="0">
		<colgroup>
		</colgroup>
		<tbody>
			<tr class="row-heading">
				<td></td>
				<td class="m-cell case-heading">Masculine</td>
				<td class="f-cell case-heading">Feminine</td>
				<td class="n-cell case-heading">Neuter</td>
				<td class="p-cell case-heading">Plural</td>
			</tr>
			<tr class="main-forms">
				<td class="case-heading">Nom</td>
				<td class="m-cell result-entry dec_nom_m"></td>
				<td class="f-cell result-entry dec_nom_f"></td>
				<td class="n-cell result-entry dec_nom_n"></td>
				<td class="p-cell result-entry dec_nom_p"></td>
			</tr>
			<tr class="main-forms">
				<td class="case-heading">Acc</td>
				<td class="m-cell result-entry"><span class="dec_acc_m dec_nom_m"></span><span class="case-heading"><br/>(inanimate)</span><br/><span class="dec_acc_m dec_gen_m"></span><span class="case-heading"><br/>(animate)</span></td>
				<td class="f-cell result-entry"><span class="dec_acc_f"></span><span class="case-heading invisible"><br/>(inanimate)</span><br/><span class="invisible"></span><span class="case-heading invisible"><br/>(animate)</span></td>
				<td class="n-cell result-entry"><span class="dec_acc_n dec_nom_n"></span><span class="case-heading invisible"><br/>(inanimate)</span><br/><span class="invisible"></span><span class="case-heading invisible"><br/>(animate)</span></td>
				<td class="p-cell result-entry"><span class="dec_acc_p dec_nom_p"></span><span class="case-heading"><br/>(inanimate)</span><br/><span class="dec_acc_p dec_gen_p"></span><span class="case-heading"><br/>(animate)</span></td>
			</tr>
			<tr class="main-forms">
				<td class="case-heading">Gen</td>
				<td class="m-cell result-entry dec_gen_m"></td>
				<td class="f-cell result-entry dec_gen_f"></td>
				<td class="n-cell result-entry dec_gen_n dec_gen_m"></td>
				<td class="p-cell result-entry dec_gen_p"></td>
			</tr>
			<tr class="main-forms">
				<td class="case-heading">Dat</td>
				<td class="m-cell result-entry dec_dat_m"></td>
				<td class="f-cell result-entry dec_dat_f dec_gen_f"></td>
				<td class="n-cell result-entry dec_dat_n dec_dat_m"></td>
				<td class="p-cell result-entry dec_dat_p"></td>
			</tr>
			<tr class="main-forms">
				<td class="case-heading">Ins</td>
				<td class="m-cell result-entry dec_ins_m"></td>
				<td class="f-cell result-entry dec_ins_f dec_gen_f dec_ins_alt_f"></td>
				<td class="n-cell result-entry dec_ins_n dec_ins_m"></td>
				<td class="p-cell result-entry dec_ins_p"></td>
			</tr>
			<tr class="main-forms">
				<td class="case-heading">Pre</td>
				<td class="m-cell result-entry dec_pre_m"></td>
				<td class="f-cell result-entry dec_pre_f dec_gen_f"></td>
				<td class="n-cell result-entry dec_pre_n dec_pre_m"></td>
				<td class="p-cell result-entry dec_pre_p dec_gen_p"></td>
			</tr>
			<tr class="short-forms hoz">
				<td class="case-heading">Short forms</td>
				<td class="sf-cell result-entry dec_short_m"></td>
				<td class="sf-cell result-entry dec_short_f"></td>
				<td class="sf-cell result-entry dec_short_n"></td>
				<td class="sf-cell result-entry dec_short_p"></td>
			</tr>
			<tr class="other-forms hoz">
				<td class="case-heading">Comparative</td>
				<td class="result-entry dec_comp"></td>
				<td class="case-heading">Superlative</td>
				<td class="result-entry dec_sup"></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="short-forms-only word-conjugations-table color-scheme2 bg-light hoz-borders-only hidden" border="0" cellspacing="1px" cellpadding="0">
		<colgroup>
		</colgroup>
		<tbody>
			<tr class="short-forms row-heading">
				<td></td>
				<td class="case-heading">Short forms</td>
			</tr>
			<tr class="short-forms">
				<td class="case-heading">Masculine</td>
				<td class="dec_short_m"></td>
			</tr>
			<tr class="short-forms">
				<td class="case-heading">Feminine</td>
				<td class="dec_short_f"></td>
			</tr>
			<tr class="short-forms">
				<td class="case-heading">Neuter</td>
				<td class="dec_short_n"></td>
			</tr>
			<tr class="short-forms">
				<td class="case-heading">Plural</td>
				<td class="dec_short_p"></td>
			</tr>
			<tr class="other-forms">
				<td class="case-heading">Comparative</td>
				<td class="dec_comp"></td>
			</tr>
			<tr class="other-forms">
				<td class="case-heading">Superlative</td>
				<td class="dec_sup"></td>
			</tr>
		</tbody>
	</table>
</div>
<div id="adjectiveTable" class="closable-window hidden">
	<div class="title-bar">
	<b><span class="result-entry dict-form"></span></b>, <span class="word-type">adjective</span>
		<span class="button-group declension-options">
			<span class="button selectable showAdjMasculineButton">M</span>
			<span class="button selectable showAdjFeminineButton">F</span>
			<span class="button selectable showAdjNeuterButton">N</span>
			<span class="button selectable showAdjPluralButton">P</span>
			<span class="button selectable showAdjSFormsButton">O</span>
			<span class="close-button">×</span>
		</span>
		<div>
			<span class="inline-block">
			</span>
		</div>
	</div>
	<div class="content"></div>
</div>