<div id="nounTableTemplate" class="hidden">
	<table class="word-conjugations-table color-scheme2 bg-light hoz-borders-only" border="0" cellspacing="1px" cellpadding="0">
		<colgroup>
		</colgroup>
		<tbody>
			<tr class="row-heading">
				<td></td>
				<td class="singular-cell case-heading">
					<span class="singular-forms not-only hidden">Singular forms</span><span class="singular-forms only hidden">Singular only</span>
				</td>
				<td class="plural-cell case-heading">
					<span class="plural-forms not-only hidden">Plural forms</span><span class="plural-forms only hidden">Plural only</span>
				</td>
			</tr>
			<tr><td class="case-heading">Nom</td><td class="singular-cell result-entry dec_s_n"></td><td class="plural-cell result-entry dec_p_n"></td></tr>
			<tr><td class="case-heading">Acc</td><td class="singular-cell result-entry dec_s_a"></td><td class="plural-cell result-entry dec_p_a"></td></tr>
			<tr><td class="case-heading">Gen</td><td class="singular-cell result-entry dec_s_g"></td><td class="plural-cell result-entry dec_p_g"></td></tr>
			<tr><td class="case-heading">Dat</td><td class="singular-cell result-entry dec_s_d"></td><td class="plural-cell result-entry dec_p_d"></td></tr>
			<tr><td class="case-heading">Ins</td><td class="singular-cell result-entry dec_s_i dec_s_i_alt"></td><td class="plural-cell result-entry dec_p_i"></td></tr>
			<tr><td class="case-heading">Pre</td><td class="singular-cell result-entry dec_s_p"></td><td class="plural-cell result-entry dec_p_p"></td></tr>
			<tr class="extra-case hidden"><td class="case-heading">Par</td><td class="singular-cell result-entry dec_s_par"></td><td class="plural-cell result-entry"></td></tr>
			<tr class="extra-case hidden"><td class="case-heading">Loc</td><td class="singular-cell result-entry dec_s_loc"></td><td class="plural-cell result-entry"></td></tr>
			<tr class="extra-case hidden"><td class="case-heading">Voc</td><td class="singular-cell result-entry dec_s_voc"></td><td class="plural-cell result-entry"></td></tr>
		</tbody>
	</table>
</div>
<div id="nounTable" class="closable-window hidden">
	<div class="title-bar">
	<b><span class="result-entry dict-form"></span></b>, <span class="word-type">noun</span>
		<span class="button-group declension-options"><span class="button selectable showSingularButton">S</span><span class="button selectable showPluralButton">P</span><span class="close-button">×</span></span>
		<div>
			<span class="inline-block">
				<span class="noun-gender m hidden">m</span>
				<span class="noun-gender f hidden">f</span>
				<span class="noun-gender n hidden">n</span>
			</span>
			<span class="inline-block">
				<span class="noun-animate a hidden">animate</span>
				<span class="noun-animate i hidden">inanimate</span>
			</span><span class="noun-indeclinable hidden">,</span>
			<span class="inline-block">
				<span class="noun-indeclinable hidden">indeclinable</span>
			</span>
		</div>
	</div>
	<div class="content"></div>
</div>