<div id="verbTableTemplate" class="hidden">
	<table class="word-conjugations-table color-scheme2 bg-light hoz-borders-only" border="0" cellspacing="1px" cellpadding="0">
		<colgroup>
		</colgroup>
		
		<tbody>
			<tr class="transparent"><td></td><td class="case-heading column-2 aspect-i" colspan="2"><select class="verb-select"></select></td><td class="case-heading column-3 aspect-p"><select class="verb-select"></select></td></tr>
			<tr class="row-heading"><td></td><td class="case-heading column-2" colspan="2">Imperfect</td><td class="case-heading column-3">Perfect</td></tr>
			<tr><td class="case-heading">Infinitive</td><td class="result-entry aspect-i infinitive column-2" colspan="2"></td><td class="result-entry column-3 aspect-p infinitive"></td></tr>
			<tr class="row-heading"><td class="case-heading"></td><td class="case-heading column-1">Present</td><td class="case-heading column-2">Future</td><td class="case-heading column-3 aspect-p">Future</td></tr>
			<tr><td class="case-heading">я</td><td class="result-entry column-1 aspect-i pres_1s"></td><td class="column-2">бу́ду <span class="result-entry aspect-i non-biht infinitive"></span></td><td class="result-entry column-3 aspect-p fut_1s"></td></tr>
			<tr><td class="case-heading">ты</td><td class="result-entry column-1 aspect-i pres_2s"></td><td class="column-2">бу́дешь <span class="result-entry aspect-i non-biht infinitive"></td><td class="result-entry column-3 aspect-p fut_2s"></td></tr>
			<tr><td class="case-heading">он/она/оно</td><td class="result-entry column-1 aspect-i pres_3s"></td><td class="column-2">бу́дет <span class="result-entry aspect-i non-biht infinitive"></td><td class="result-entry column-3 aspect-p fut_3s"></td></tr>
			<tr><td class="case-heading">мы</td><td class="result-entry column-1 aspect-i pres_1p"></td><td class="column-2">бу́дем <span class="result-entry non-biht aspect-i infinitive"></td><td class="result-entry column-3 aspect-p fut_1p"></td></tr>
			<tr><td class="case-heading">вы</td><td class="result-entry column-1 aspect-i pres_2p"></td><td class="column-2">бу́дете <span class="result-entry non-biht aspect-i infinitive"></td><td class="result-entry column-3 aspect-p fut_2p"></td></tr>
			<tr><td class="case-heading">они</td><td class="result-entry column-1 aspect-i pres_3p"></td><td class="column-2">бу́дут <span class="result-entry non-biht aspect-i infinitive"></td><td class="result-entry column-3 aspect-p fut_3p"></td></tr>
			<tr class="row-heading"><td class="case-heading"></td><td class="case-heading column-1"></td><td class="case-heading column-2">Past</td><td class="case-heading column-3 aspect-p">Past</td></tr>
			<tr><td class="case-heading">Masculine</td><td class="column-1"></td><td class="result-entry column-2 aspect-i past_m"></td><td class="result-entry column-3 aspect-p past_m"></td></tr>
			<tr><td class="case-heading">Feminine</td><td class="column-1"></td><td class="result-entry column-2 aspect-i past_f"></td><td class="result-entry column-3 aspect-p past_f"></td></tr>
			<tr><td class="case-heading">Neuter</td><td class="column-1"></td><td class="result-entry column-2 aspect-i past_n"></td><td class="result-entry column-3 aspect-p past_n"></td></tr>
			<tr><td class="case-heading">Plural</td><td class="column-1"></td><td class="result-entry column-2 aspect-i past_p"></td><td class="result-entry column-3 aspect-p past_p"></td></tr>
			<tr class="row-heading"><td class="case-heading"></td><td class="case-heading column-1"></td><td class="case-heading column-2">Imperative</td><td class="case-heading column-3 aspect-p">Imperative</td></tr>
			
			<tr><td class="case-heading">Singular</td><td class="column-1"></td><td class="result-entry column-2 aspect-i imp_s"></td><td class="result-entry column-3 aspect-p imp_s"></td></tr>
			<tr><td class="case-heading">Plural</td><td class="column-1"></td><td class="result-entry column-2 aspect-i imp_p"></td><td class="result-entry column-3 aspect-p imp_p"></td></tr>
			<tr class="row-heading"><td class="case-heading">Participles</td><td class="case-heading column-1">Present</td><td class="case-heading column-2">Past</td><td class="case-heading column-3 aspect-p">Past</td></tr>
			
			<tr><td class="case-heading">Active</td><td class="result-entry column-1 aspect-i pres_act"></td><td class="result-entry column-2 aspect-i past_act"></td><td class="result-entry column-3 aspect-p past_act"></td></tr>
			<tr><td class="case-heading">Passive</td><td class="result-entry column-1 aspect-i pres_pas"></td><td class="result-entry column-2 aspect-i past_pas"></td><td class="result-entry column-3 aspect-p past_pas"></td></tr>
			<tr><td class="case-heading">Adverbial</td><td class="result-entry column-1 aspect-i pres_adv"></td><td class="result-entry column-2 aspect-i past_adv past_adv_short"></td><td class="result-entry column-3 aspect-p past_adv past_adv_short"></td></tr>
		</tbody>
	</table>
</div>

<div id="verbTable" class="closable-window hidden">
	<div class="title-bar">
	<span class="result-entry verb-infinitives"></span>, <span class="word-type word-type-verb-option word-type-verb hidden">verb</span><span class="word-type word-type-verb-option word-type-verbs hidden">verbs</span>
		<span class="button-group declension-options"><!--<span class="button selectable showSingularButton">I</span><span class="button selectable showPluralButton">P</span>--><span class="close-button">×</span></span>
		<div>
			<span class="inline-block">
				<span class="verb-aspect perfective hidden">perfective</span>
				<span class="verb-aspect imperfective hidden">imperfective</span>
			</span>
		</div>
	</div>
	<div class="content"></div>
</div>