{% extends "base.html.twig" %}

{% block optionalheading %}<h1>{{ block('title') }}</h1>{% endblock %}

{% block precontent %}
<div id="pre-content" class="standard-page">
	<img id="index-cover" src="{{ asset('build/images/about-page-cover.jpg') }}" />
</div>
{% endblock %}