<nav id="richard1029384756-menu" class="vertical-menu left-menu">
	<span class="menu-wrapper">
		{% include('components/menu/menu-group.html.twig') with {'sub': menu, 'currenturl': currenturl} only %}
	</span>
</nav>
